extends layout

block content
  include ../public/HTMLs/navbar.html
  include ../public/HTMLs/gamelobby.html
  
  script(src='/javascripts/jquery-3.3.1.slim.min.js')
  script(src='/javascripts/popper.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/game.client.js')
  script(src='/socket.io.js')
  script(src="/socket.io-file-client.js")

