extends layout

block content
  include ../public/HTMLs/navbar.html
  include ../public/HTMLs/player.html


  script(src='/javascripts/jquery-3.3.1.slim.min.js')
  script(src='/javascripts/popper.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/player.client.js')
  

